.theme-default .screen-heading {
  color: #03D2AB; }
.theme-default .location-info {
  color: #03D2AB; }
.theme-default .grid-item {
  background-color: #03D2AB; }
.theme-default .grid-item-width3 {
  background-color: #F81268; }
.theme-default #location-search {
  border-color: #03D2AB; }
.theme-default #location-search-btn {
  background-color: #03D2AB; }
.theme-default #user-location-btn {
  background-color: #F81268; }
.theme-default .primary-component {
  background-color: #F81268; }
.theme-default .secondary-components {
  background-color: #03D2AB; }
.theme-default a {
  color: #03D2AB; }

.theme-day .screen-heading {
  color: #4CB2D4; }
.theme-day .location-info {
  color: #4CB2D4; }
.theme-day .grid-item {
  background-color: #4CB2D4; }
.theme-day .grid-item-width3 {
  background-color: #88C542; }
.theme-day #location-search {
  border-color: #4CB2D4; }
.theme-day #location-search-btn {
  background-color: #4CB2D4; }
.theme-day #user-location-btn {
  background-color: #88C542; }
.theme-day .primary-component {
  background-color: #88C542; }
.theme-day .secondary-components {
  background-color: #4CB2D4; }
.theme-day a {
  color: #4CB2D4; }

.theme-night .screen-heading {
  color: #121258; }
.theme-night .location-info {
  color: #121258; }
.theme-night .grid-item {
  background-color: #121258; }
.theme-night .grid-item-width3 {
  background-color: #77A9D7; }
.theme-night #location-search {
  border-color: #121258; }
.theme-night #location-search-btn {
  background-color: #121258; }
.theme-night #user-location-btn {
  background-color: #77A9D7; }
.theme-night .primary-component {
  background-color: #77A9D7; }
.theme-night .secondary-components {
  background-color: #121258; }
.theme-night a {
  color: #121258; }

.theme-mono .screen-heading {
  color: #363636; }
.theme-mono .location-info {
  color: #363636; }
.theme-mono .grid-item {
  background-color: #363636; }
.theme-mono .grid-item-width3 {
  background-color: #7D7D7D; }
.theme-mono #location-search {
  border-color: #363636; }
.theme-mono #location-search-btn {
  background-color: #363636; }
.theme-mono #user-location-btn {
  background-color: #7D7D7D; }
.theme-mono .primary-component {
  background-color: #7D7D7D; }
.theme-mono .secondary-components {
  background-color: #363636; }
.theme-mono a {
  color: #363636; }

.theme-ocean .screen-heading {
  color: #FD9A28; }
.theme-ocean .location-info {
  color: #FD9A28; }
.theme-ocean .grid-item {
  background-color: #FD9A28; }
.theme-ocean .grid-item-width3 {
  background-color: #268AFF; }
.theme-ocean #location-search {
  border-color: #FD9A28; }
.theme-ocean #location-search-btn {
  background-color: #FD9A28; }
.theme-ocean #user-location-btn {
  background-color: #268AFF; }
.theme-ocean .primary-component {
  background-color: #268AFF; }
.theme-ocean .secondary-components {
  background-color: #FD9A28; }
.theme-ocean a {
  color: #FD9A28; }

.theme-divide .screen-heading {
  color: #86C036; }
.theme-divide .location-info {
  color: #86C036; }
.theme-divide .grid-item {
  background-color: #86C036; }
.theme-divide .grid-item-width3 {
  background-color: #FC402C; }
.theme-divide #location-search {
  border-color: #86C036; }
.theme-divide #location-search-btn {
  background-color: #86C036; }
.theme-divide #user-location-btn {
  background-color: #FC402C; }
.theme-divide .primary-component {
  background-color: #FC402C; }
.theme-divide .secondary-components {
  background-color: #86C036; }
.theme-divide a {
  color: #86C036; }

.theme-element .screen-heading {
  color: #FF7251; }
.theme-element .location-info {
  color: #FF7251; }
.theme-element .grid-item {
  background-color: #FF7251; }
.theme-element .grid-item-width3 {
  background-color: #44AFFF; }
.theme-element #location-search {
  border-color: #FF7251; }
.theme-element #location-search-btn {
  background-color: #FF7251; }
.theme-element #user-location-btn {
  background-color: #44AFFF; }
.theme-element .primary-component {
  background-color: #44AFFF; }
.theme-element .secondary-components {
  background-color: #FF7251; }
.theme-element a {
  color: #FF7251; }

.theme-torchlight .screen-heading {
  color: #FBC52C; }
.theme-torchlight .location-info {
  color: #FBC52C; }
.theme-torchlight .grid-item {
  background-color: #FBC52C; }
.theme-torchlight .grid-item-width3 {
  background-color: #192466; }
.theme-torchlight #location-search {
  border-color: #FBC52C; }
.theme-torchlight #location-search-btn {
  background-color: #FBC52C; }
.theme-torchlight #user-location-btn {
  background-color: #192466; }
.theme-torchlight .primary-component {
  background-color: #192466; }
.theme-torchlight .secondary-components {
  background-color: #FBC52C; }
.theme-torchlight a {
  color: #FBC52C; }

.theme-azure .screen-heading {
  color: #41A7FF; }
.theme-azure .location-info {
  color: #41A7FF; }
.theme-azure .grid-item {
  background-color: #41A7FF; }
.theme-azure .grid-item-width3 {
  background-color: #207720; }
.theme-azure #location-search {
  border-color: #41A7FF; }
.theme-azure #location-search-btn {
  background-color: #41A7FF; }
.theme-azure #user-location-btn {
  background-color: #207720; }
.theme-azure .primary-component {
  background-color: #207720; }
.theme-azure .secondary-components {
  background-color: #41A7FF; }
.theme-azure a {
  color: #41A7FF; }

.theme-lavender .screen-heading {
  color: #394694; }
.theme-lavender .location-info {
  color: #394694; }
.theme-lavender .grid-item {
  background-color: #394694; }
.theme-lavender .grid-item-width3 {
  background-color: #9F8BE5; }
.theme-lavender #location-search {
  border-color: #394694; }
.theme-lavender #location-search-btn {
  background-color: #394694; }
.theme-lavender #user-location-btn {
  background-color: #9F8BE5; }
.theme-lavender .primary-component {
  background-color: #9F8BE5; }
.theme-lavender .secondary-components {
  background-color: #394694; }
.theme-lavender a {
  color: #394694; }

.theme-pink .screen-heading {
  color: #EE5C96; }
.theme-pink .location-info {
  color: #EE5C96; }
.theme-pink .grid-item {
  background-color: #EE5C96; }
.theme-pink .grid-item-width3 {
  background-color: #F58DB6; }
.theme-pink #location-search {
  border-color: #EE5C96; }
.theme-pink #location-search-btn {
  background-color: #EE5C96; }
.theme-pink #user-location-btn {
  background-color: #F58DB6; }
.theme-pink .primary-component {
  background-color: #F58DB6; }
.theme-pink .secondary-components {
  background-color: #EE5C96; }
.theme-pink a {
  color: #EE5C96; }

.theme-warmth .screen-heading {
  color: #FFC039; }
.theme-warmth .location-info {
  color: #FFC039; }
.theme-warmth .grid-item {
  background-color: #FFC039; }
.theme-warmth .grid-item-width3 {
  background-color: #FF5F07; }
.theme-warmth #location-search {
  border-color: #FFC039; }
.theme-warmth #location-search-btn {
  background-color: #FFC039; }
.theme-warmth #user-location-btn {
  background-color: #FF5F07; }
.theme-warmth .primary-component {
  background-color: #FF5F07; }
.theme-warmth .secondary-components {
  background-color: #FFC039; }
.theme-warmth a {
  color: #FFC039; }

.theme-obscure .screen-heading {
  color: #03D1AB; }
.theme-obscure .location-info {
  color: #03D1AB; }
.theme-obscure .grid-item {
  background-color: #03D1AB; }
.theme-obscure .grid-item-width3 {
  background-color: #4E1C81; }
.theme-obscure #location-search {
  border-color: #03D1AB; }
.theme-obscure #location-search-btn {
  background-color: #03D1AB; }
.theme-obscure #user-location-btn {
  background-color: #4E1C81; }
.theme-obscure .primary-component {
  background-color: #4E1C81; }
.theme-obscure .secondary-components {
  background-color: #03D1AB; }
.theme-obscure a {
  color: #03D1AB; }

.theme-morninglawn .screen-heading {
  color: #FFC410; }
.theme-morninglawn .location-info {
  color: #FFC410; }
.theme-morninglawn .grid-item {
  background-color: #FFC410; }
.theme-morninglawn .grid-item-width3 {
  background-color: #15DAB6; }
.theme-morninglawn #location-search {
  border-color: #FFC410; }
.theme-morninglawn #location-search-btn {
  background-color: #FFC410; }
.theme-morninglawn #user-location-btn {
  background-color: #15DAB6; }
.theme-morninglawn .primary-component {
  background-color: #15DAB6; }
.theme-morninglawn .secondary-components {
  background-color: #FFC410; }
.theme-morninglawn a {
  color: #FFC410; }

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 0.05625em;
  overflow-x: hidden;
  max-width: 100%;
  background-color: #FFFFFF;
  color: #FFFFFF; }

h1, h2, h3, h4, h5 {
  font-family: "Overpass", sans-serif; }

p {
  font-family: "Didact Gothic", sans-serif; }

input, button {
  border-style: solid; }

a {
  text-decoration: none; }

.screen-settings .theme-container, .screen-settings .home-container, .screen-settings .locations-container, .screen-settings .editor-container {
  display: none; }

.screen-theme .settings-container, .screen-theme .home-container, .screen-theme .locations-container, .screen-theme .editor-container {
  display: none; }

.screen-home .settings-container, .screen-home .theme-container, .screen-home .locations-container, .screen-home .editor-container {
  display: none; }

.screen-locations .settings-container, .screen-locations .theme-container, .screen-locations .home-container, .screen-locations .editor-container {
  display: none; }

.screen-editor .settings-container, .screen-editor .theme-container, .screen-editor .home-container, .screen-editor .locations-container {
  display: none; }

.screen {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3em;
  left: 0;
  overflow-y: scroll; }
  .screen .screen-heading {
    margin: 1.5em auto;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    background-color: #EDEDED;
    border-radius: 0.5em;
    padding: 0.75em;
    width: 87.5%;
    box-sizing: border-box; }

.list-module {
  margin: 0 auto;
  width: 87.5%;
  font-family: "Didact Gothic", sans-serif; }
  .list-module li {
    margin: 1em 0;
    padding: 0.875em;
    background-color: #9A9A9A;
    box-sizing: border-box;
    border-radius: 0.5em; }

.icon-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3em;
  background-color: #EDEDED; }
  .icon-bar ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: inherit; }
    .icon-bar ul li {
      width: 20%;
      text-align: center;
      padding-top: 13px; }
      .icon-bar ul li .selected {
        display: none; }
      .icon-bar ul li .non-selected {
        display: inline; }
      .icon-bar ul li p {
        padding-top: 5px;
        font-family: "Overpass", sans-serif;
        font-size: 7px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9A9A9A; }

.screen-settings #settings {
  background-color: #9A9A9A; }
  .screen-settings #settings .selected {
    display: inline; }
  .screen-settings #settings .non-selected {
    display: none; }
  .screen-settings #settings p {
    color: #EDEDED; }

.screen-theme #theme {
  background-color: #9A9A9A; }
  .screen-theme #theme .selected {
    display: inline; }
  .screen-theme #theme .non-selected {
    display: none; }
  .screen-theme #theme p {
    color: #EDEDED; }

.screen-home #home {
  background-color: #9A9A9A; }
  .screen-home #home .selected {
    display: inline; }
  .screen-home #home .non-selected {
    display: none; }
  .screen-home #home p {
    color: #EDEDED; }

.screen-locations #locations {
  background-color: #9A9A9A; }
  .screen-locations #locations .selected {
    display: inline; }
  .screen-locations #locations .non-selected {
    display: none; }
  .screen-locations #locations p {
    color: #EDEDED; }

.screen-editor #editor {
  background-color: #9A9A9A; }
  .screen-editor #editor .selected {
    display: inline; }
  .screen-editor #editor .non-selected {
    display: none; }
  .screen-editor #editor p {
    color: #EDEDED; }

.module-container {
  width: 100%;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: #FFFFFF; }

.grid {
  width: 100%;
  padding: 5%;
  margin: 0 auto; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer {
  width: calc(90% / 3); }

.gutter-sizer {
  width: 4%; }

.grid-item {
  width: calc((100% / 3) - 5%);
  height: 0;
  max-height: 0;
  padding-bottom: calc((100% / 3) - 5%);
  float: left;
  border-radius: 0.5em;
  text-align: center; }
  .grid-item .ui-icon, .grid-item .ui-widget-content .ui-icon {
    background-image: url("assets/icons/resize.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5; }
  .grid-item .ui-resizable-se {
    margin: 24px 4px 4px 24px; }

.grid-item-width3 {
  width: 90%;
  height: 0;
  padding-bottom: 50%;
  text-align: left; }

.grid-item:hover {
  border-color: #9A9A9A;
  cursor: move; }

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  z-index: 2; }

.packery-drop-placeholder {
  border: 1px dashed #9A9A9A;
  border-radius: 0.5em;
  margin: -1px -1px 0 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s; }

.handle {
  width: 1em;
  height: 1em;
  position: absolute;
  top: 0.3125em;
  right: 0.3125em;
  margin: 0 0 1.5em 1.5em;
  background-image: url("assets/icons/move.svg");
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.5; }

#temp-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: right; }
  #temp-container .current-temp {
    font-size: 6.25em; }
  #temp-container .forecast-temp {
    font-size: 2.5em; }

sup {
  font-size: 60%;
  vertical-align: super; }

.current-wind, .current-cloud, .current-precip, .current-humidity, .current-pressure {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.current-cloud, .percent {
  font-size: 0.75em; }

.current-precip .intensity {
  letter-spacing: normal; }

.speed, .intensity, .humidity-value {
  font-size: 1.75em; }

.pressure {
  margin-top: 1em;
  font-size: 1.25em; }

.humidity-value {
  display: inline; }

.units {
  font-size: 0.4375em; }

#direction-icon, #cloud-outline, #cloud-icon, #precip-icon, #humidity-icon, #pressure-outline, #pressure-pointer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: auto; }

#humidity-icon, #pressure-outline, #pressure-pointer {
  width: 78%;
  height: 78%; }

.graph-content {
  display: none; }

/* Wind Bar Graph css */
.clearfix,
.clearfix:before,
.clearfix:after {
  display: block;
  content: " ";
  clear: both;
  zoom: 1; }

/* Resets */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.originalWrap {
  margin: 1em;
  top: 0;
  left: 0; }

.wrap {
  margin: 0 auto;
  padding: 10px;
  max-width: 1200px; }

.barGraph {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1em; }

.graph {
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 30%;
  max-width: 80%; }

.graph-barBack {
  border-radius: 50px;
  background: #FFFFFF;
  margin-bottom: 1.2vh;
  display: block; }

.graph-bar {
  background-color: #ffffff;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  z-index: 9999;
  display: block;
  height: 0.3em;
  width: 0%; }

.graph-bar:last-child {
  margin-bottom: 0; }

.graph-bar:after {
  position: absolute;
  content: attr(data-value);
  display: none;
  font-size: 12px;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  line-height: 20px;
  height: 20px;
  padding: 0 10px;
  margin-left: 5px;
  left: 100%;
  top: 0; }

.graph-bar:hover:after {
  display: block; }

.graph-legend {
  position: absolute;
  font-size: 0.5em;
  color: white;
  margin-right: 10px;
  left: -45px;
  z-index: 9999; }

.login-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F81268;
  text-align: center;
  z-index: 9999; }
  .login-container .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%; }
    .login-container .login-content .login-inputs {
      display: none; }
    .login-container .login-content .list-module {
      width: 100%;
      margin-top: 4em; }
      .login-container .login-content .list-module .btn {
        background-color: #FFFFFF;
        color: #F81268;
        font-family: "Overpass", sans-serif; }
      .login-container .login-content .list-module input {
        width: 100%;
        margin: .5em 0;
        padding: 0.5em;
        box-sizing: border-box;
        border: none;
        border-radius: 0.5em;
        font-family: "Overpass", sans-serif;
        font-size: 1em; }
    .login-container .login-content .login-inputs .btn {
      display: inline-block;
      width: 45%; }

.login-function .login-content .login-buttons, .signup-function .login-content .login-buttons {
  display: none; }
.login-function .login-content .login-inputs, .signup-function .login-content .login-inputs {
  display: block; }

.login-function #btnSignup {
  display: none; }

.signup-function #btnLogin {
  display: none; }

.logged-in .login-container {
  display: none; }

.settings-container li img {
  float: right;
  height: 0.75em; }
.settings-container #btnLogout {
  background-color: rgba(154, 154, 154, 0.6); }
.settings-container .nl {
  padding-bottom: 1em; }

.theme-container .list-module li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: #FFFFFF; }
.theme-container .list-module .theme-name, .theme-container .list-module .theme-color-one, .theme-container .list-module .theme-color-two {
  height: inherit;
  border-radius: 0.5em; }
.theme-container .list-module .theme-name {
  background-color: rgba(154, 154, 154, 0.6);
  flex-basis: 50%;
  padding: 0.875em; }
.theme-container .list-module .selected .theme-name {
  background-color: #9A9A9A; }
.theme-container .list-module .theme-color-one, .theme-container .list-module .theme-color-two {
  flex-basis: 20%;
  padding: 0.875em 0; }
.theme-container .list-module #theme-default .theme-color-one {
  background-color: #03D2AB; }
.theme-container .list-module #theme-default .theme-color-two {
  background-color: #F81268; }
.theme-container .list-module #theme-day .theme-color-one {
  background-color: #4CB2D4; }
.theme-container .list-module #theme-day .theme-color-two {
  background-color: #88C542; }
.theme-container .list-module #theme-night .theme-color-one {
  background-color: #121258; }
.theme-container .list-module #theme-night .theme-color-two {
  background-color: #77A9D7; }
.theme-container .list-module #theme-mono .theme-color-one {
  background-color: #363636; }
.theme-container .list-module #theme-mono .theme-color-two {
  background-color: #7D7D7D; }
.theme-container .list-module #theme-ocean .theme-color-one {
  background-color: #FD9A28; }
.theme-container .list-module #theme-ocean .theme-color-two {
  background-color: #268AFF; }
.theme-container .list-module #theme-divide .theme-color-one {
  background-color: #86C036; }
.theme-container .list-module #theme-divide .theme-color-two {
  background-color: #FC402C; }
.theme-container .list-module #theme-element .theme-color-one {
  background-color: #FF7251; }
.theme-container .list-module #theme-element .theme-color-two {
  background-color: #44AFFF; }
.theme-container .list-module #theme-torchlight .theme-color-one {
  background-color: #FBC52C; }
.theme-container .list-module #theme-torchlight .theme-color-two {
  background-color: #192466; }
.theme-container .list-module #theme-azure .theme-color-one {
  background-color: #41A7FF; }
.theme-container .list-module #theme-azure .theme-color-two {
  background-color: #207720; }
.theme-container .list-module #theme-lavender .theme-color-one {
  background-color: #394694; }
.theme-container .list-module #theme-lavender .theme-color-two {
  background-color: #9F8BE5; }
.theme-container .list-module #theme-pink .theme-color-one {
  background-color: #EE5C96; }
.theme-container .list-module #theme-pink .theme-color-two {
  background-color: #F58DB6; }
.theme-container .list-module #theme-warmth .theme-color-one {
  background-color: #FFC039; }
.theme-container .list-module #theme-warmth .theme-color-two {
  background-color: #FF5F07; }
.theme-container .list-module #theme-obscure .theme-color-one {
  background-color: #03D1AB; }
.theme-container .list-module #theme-obscure .theme-color-two {
  background-color: #4E1C81; }
.theme-container .list-module #theme-morninglawn .theme-color-one {
  background-color: #FFC410; }
.theme-container .list-module #theme-morninglawn .theme-color-two {
  background-color: #15DAB6; }

.home-container {
  display: flex;
  align-items: center; }
  .home-container .content {
    width: 100%; }
    .home-container .content .location-info {
      padding: 1em;
      margin-bottom: 1.5em;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      background-color: #EDEDED;
      border-radius: 0.5em;
      width: 90%;
      margin: 0 auto; }
      .home-container .content .location-info #location {
        padding-bottom: .25em;
        font-weight: 600;
        font-size: 2em; }
      .home-container .content .location-info #description {
        font-weight: 200; }

.locations-container .list-module .search, .locations-container .list-module .location {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: #FFFFFF; }
.locations-container .list-module #location-search, .locations-container .list-module #location-search-btn, .locations-container .list-module .location-name, .locations-container .list-module .delete-location-btn {
  height: inherit;
  font-size: 0.875em;
  border-radius: 0.5em; }
.locations-container .list-module #location-search {
  flex-basis: 75%;
  padding: 0.875em;
  box-sizing: border-box;
  color: #9A9A9A; }
.locations-container .list-module #location-search-btn {
  text-align: center;
  flex-basis: 20%;
  padding: 0.875em 0;
  border: none;
  color: #FFFFFF; }
  .locations-container .list-module #location-search-btn img {
    width: 1em;
    height: 1em;
    vertical-align: middle; }
.locations-container .list-module .location-name {
  padding: 0.875em;
  background-color: #9A9A9A;
  font-size: 1em;
  flex-basis: 100%;
  box-sizing: border-box; }
.locations-container .list-module .delete-location-btn {
  width: 0px;
  flex-basis: 0;
  text-align: center;
  padding: 0.875em 0;
  background-color: #EE4035;
  color: #FFFFFF;
  display: none; }
  .locations-container .list-module .delete-location-btn img {
    width: 1em;
    vertical-align: middle; }
.locations-container .list-module #edit-locations-btn {
  width: 100%;
  height: inherit;
  margin-top: 2em;
  padding: 0.875em;
  font-size: 0.875em;
  background-color: rgba(154, 154, 154, 0.6);
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em; }
.locations-container .delete-locations .location-name {
  flex-basis: 75%; }
.locations-container .delete-locations .delete-location-btn {
  display: inline-block;
  flex-basis: 20%; }

.editor-container .select-box {
  padding: 0;
  background-color: #FFFFFF;
  position: relative; }
  .editor-container .select-box select {
    width: 100%;
    padding: 0.875em;
    background-color: #FFFFFF;
    box-sizing: border-box;
    border-color: rgba(154, 154, 154, 0.6);
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    font-size: 0.875em;
    color: #9A9A9A;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
  .editor-container .select-box img {
    position: absolute;
    top: 1.125em;
    right: 0.875em;
    width: 0.75em; }

/*# sourceMappingURL=output.css.map */
