.theme-default .screen-heading {
  color: #03D2AB; }
.theme-default .location-info {
  color: #03D2AB; }
.theme-default .grid-item {
  background-color: #03D2AB; }
.theme-default .grid-item-width3 {
  background-color: #F81268; }
.theme-default #location-search {
  border-color: #03D2AB; }
.theme-default #location-search-btn {
  background-color: #03D2AB; }

.theme-light .screen-heading {
  color: #4CB2D4; }
.theme-light .location-info {
  color: #4CB2D4; }
.theme-light .grid-item {
  background-color: #4CB2D4; }
.theme-light .grid-item-width3 {
  background-color: #88C542; }
.theme-light #location-search {
  border-color: #4CB2D4; }
.theme-light #location-search-btn {
  background-color: #4CB2D4; }

.theme-dark .screen-heading {
  color: #121258; }
.theme-dark .location-info {
  color: #121258; }
.theme-dark .grid-item {
  background-color: #121258; }
.theme-dark .grid-item-width3 {
  background-color: #77A9D7; }
.theme-dark #location-search {
  border-color: #121258; }
.theme-dark #location-search-btn {
  background-color: #121258; }

.theme-mono .screen-heading {
  color: #363636; }
.theme-mono .location-info {
  color: #363636; }
.theme-mono .grid-item {
  background-color: #363636; }
.theme-mono .grid-item-width3 {
  background-color: #7D7D7D; }
.theme-mono #location-search {
  border-color: #363636; }
.theme-mono #location-search-btn {
  background-color: #363636; }

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  letter-spacing: 0.05625em;
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #FFFFFF; }

h1, h2, h3, h4, h5 {
  font-family: "Overpass", sans-serif; }

p {
  font-family: "Didact Gothic", sans-serif; }

input, button {
  border-style: solid; }

.screen-settings .theme-container, .screen-settings .home-container, .screen-settings .locations-container, .screen-settings .editor-container {
  display: none; }

.screen-theme .settings-container, .screen-theme .home-container, .screen-theme .locations-container, .screen-theme .editor-container {
  display: none; }

.screen-home .settings-container, .screen-home .theme-container, .screen-home .locations-container, .screen-home .editor-container {
  display: none; }

.screen-locations .settings-container, .screen-locations .theme-container, .screen-locations .home-container, .screen-locations .editor-container {
  display: none; }

.screen-editor .settings-container, .screen-editor .theme-container, .screen-editor .home-container, .screen-editor .locations-container {
  display: none; }

.screen {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 3em;
  left: 0;
  overflow-y: scroll; }
  .screen .screen-heading {
    margin: 1.5em 0;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; }

.list-module {
  margin: 0 auto;
  width: 87.5%;
  font-family: "Didact Gothic", sans-serif; }
  .list-module li {
    margin: 1em 0;
    padding: 0.875em;
    background-color: #9A9A9A;
    box-sizing: border-box;
    border-radius: 0.5em; }

.icon-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3em;
  background-color: #EDEDED; }
  .icon-bar ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: inherit; }
    .icon-bar ul li {
      width: 20%;
      text-align: center;
      padding-top: 13px; }
      .icon-bar ul li .selected {
        display: none; }
      .icon-bar ul li .non-selected {
        display: inline; }
      .icon-bar ul li p {
        padding-top: 5px;
        font-family: "Overpass", sans-serif;
        font-size: 7px;
        font-weight: bold;
        text-transform: uppercase;
        color: #9A9A9A; }

.screen-settings #settings {
  background-color: #9A9A9A; }
  .screen-settings #settings .selected {
    display: inline; }
  .screen-settings #settings .non-selected {
    display: none; }
  .screen-settings #settings p {
    color: #EDEDED; }

.screen-theme #theme {
  background-color: #9A9A9A; }
  .screen-theme #theme .selected {
    display: inline; }
  .screen-theme #theme .non-selected {
    display: none; }
  .screen-theme #theme p {
    color: #EDEDED; }

.screen-home #home {
  background-color: #9A9A9A; }
  .screen-home #home .selected {
    display: inline; }
  .screen-home #home .non-selected {
    display: none; }
  .screen-home #home p {
    color: #EDEDED; }

.screen-locations #locations {
  background-color: #9A9A9A; }
  .screen-locations #locations .selected {
    display: inline; }
  .screen-locations #locations .non-selected {
    display: none; }
  .screen-locations #locations p {
    color: #EDEDED; }

.screen-editor #editor {
  background-color: #9A9A9A; }
  .screen-editor #editor .selected {
    display: inline; }
  .screen-editor #editor .non-selected {
    display: none; }
  .screen-editor #editor p {
    color: #EDEDED; }

.module-container {
  width: 100%;
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  color: #FFFFFF; }

.grid {
  width: calc(90%);
  padding: 5%;
  margin: 0 auto; }

.grid:after {
  content: '';
  display: block;
  clear: both; }

.grid-sizer {
  width: calc(90% / 3); }

.gutter-sizer {
  width: 4%; }

.grid-item {
  width: calc((100% / 3) - 4.5%);
  height: 0;
  padding-bottom: calc((100% / 3) - 4.5%);
  float: left;
  border-radius: 0.5em;
  text-align: center; }

.grid-item-width3 {
  width: 90%;
  height: 0;
  padding-bottom: 50%;
  text-align: left; }

.grid-item:hover {
  border-color: #9A9A9A;
  cursor: move; }

.grid-item.is-dragging,
.grid-item.is-positioning-post-drag {
  z-index: 2; }

.packery-drop-placeholder {
  border: 1px dashed #9A9A9A;
  border-radius: 0.5em;
  margin: -1px -1px 0 0;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s; }

.current-temp {
  display: inline-block;
  padding: 30px 0 30px 30px;
  font-size: 6.25em; }

sup {
  font-size: 60%;
  vertical-align: super; }

.forecast-temp {
  display: inline-block;
  padding: 40px 30px 40px 0;
  float: right;
  text-align: right;
  font-size: 2.5em; }

.current-wind, .current-cloud, #cloud-canvas, .current-precip {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.current-precip .intensity {
  letter-spacing: normal; }

.speed, .intensity {
  font-size: 1.75em; }

.units {
  font-size: 0.4375em; }

#direction-icon, #cloud-circle, .canvas-container, #precip-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: auto; }

#cloud-canvas {
  width: 78%;
  height: 78%; }

.login-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F81268;
  text-align: center;
  z-index: 9999; }
  .login-container .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%; }
    .login-container .login-content .login-inputs {
      display: none; }
    .login-container .login-content .list-module {
      width: 100%;
      margin-top: 4em; }
      .login-container .login-content .list-module .btn {
        background-color: #FFFFFF;
        color: #F81268;
        font-family: "Overpass", sans-serif; }
      .login-container .login-content .list-module input {
        width: 100%;
        margin: .5em 0;
        padding: 0.5em;
        box-sizing: border-box;
        border: none;
        border-radius: 0.5em;
        font-family: "Overpass", sans-serif;
        font-size: 1em; }
    .login-container .login-content .login-inputs .btn {
      display: inline-block;
      width: 45%; }

.login-function .login-content .login-buttons, .signup-function .login-content .login-buttons {
  display: none; }
.login-function .login-content .login-inputs, .signup-function .login-content .login-inputs {
  display: block; }

.login-function #btnSignup {
  display: none; }

.signup-function #btnLogin {
  display: none; }

.logged-in .login-container {
  display: none; }

.settings-container li img {
  float: right;
  height: 0.75em; }
.settings-container #btnLogout {
  background-color: rgba(154, 154, 154, 0.6); }

.theme-container .list-module li {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: #FFFFFF; }
.theme-container .list-module .theme-name, .theme-container .list-module .theme-color-one, .theme-container .list-module .theme-color-two {
  height: inherit;
  border-radius: 0.5em; }
.theme-container .list-module .theme-name {
  background-color: #9A9A9A;
  flex-basis: 40%;
  padding: 0.875em; }
.theme-container .list-module .theme-color-one, .theme-container .list-module .theme-color-two {
  flex-basis: 20%;
  padding: 0.875em 0; }
.theme-container .list-module #theme-default .theme-color-one {
  background-color: #03D2AB; }
.theme-container .list-module #theme-default .theme-color-two {
  background-color: #F81268; }
.theme-container .list-module #theme-light .theme-color-one {
  background-color: #4CB2D4; }
.theme-container .list-module #theme-light .theme-color-two {
  background-color: #88C542; }
.theme-container .list-module #theme-dark .theme-color-one {
  background-color: #121258; }
.theme-container .list-module #theme-dark .theme-color-two {
  background-color: #77A9D7; }
.theme-container .list-module #theme-mono .theme-color-one {
  background-color: #363636; }
.theme-container .list-module #theme-mono .theme-color-two {
  background-color: #7D7D7D; }

.home-container .content .location-info {
  margin: 1.875em 0;
  line-height: 1;
  text-align: center;
  text-transform: uppercase; }
  .home-container .content .location-info #location {
    padding: .25em 0;
    font-weight: 600;
    font-size: 2em; }
  .home-container .content .location-info #description {
    font-weight: 200; }

.locations-container .list-module .search, .locations-container .list-module .location {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  background-color: #FFFFFF; }
.locations-container .list-module #location-search, .locations-container .list-module #location-search-btn, .locations-container .list-module .location-name, .locations-container .list-module .delete-location-btn {
  height: inherit;
  font-size: 0.875em;
  border-radius: 0.5em; }
.locations-container .list-module #location-search {
  flex-basis: 75%;
  padding: 0.875em; }
.locations-container .list-module #location-search-btn {
  text-align: center;
  flex-basis: 20%;
  padding: 0.875em 0;
  border: none;
  color: #FFFFFF; }
.locations-container .list-module .location-name {
  box-sizing: border-box;
  padding: 0.875em;
  background-color: #9A9A9A;
  font-size: 1em;
  flex-basis: 100%; }
.locations-container .list-module .delete-location-btn {
  width: 0px;
  flex-basis: 0;
  text-align: center;
  padding: 0.875em 0;
  color: #FFFFFF; }
.locations-container .list-module #edit-locations-btn {
  width: 100%;
  height: inherit;
  margin-top: 2em;
  padding: 0.875em;
  font-size: 0.875em;
  background-color: rgba(154, 154, 154, 0.6);
  color: #FFFFFF;
  border: none;
  border-radius: 0.5em; }
.locations-container .delete-locations .location-name {
  flex-basis: 75%; }
.locations-container .delete-locations .delete-location-btn {
  display: inline-block;
  flex-basis: 20%;
  background-color: rgba(154, 154, 154, 0.6); }

/*# sourceMappingURL=output.css.map */
