.locations-container {
  .list-module {
    .search, .location {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      padding:0;
      background-color: #FFFFFF;
    }
    #location-search, #location-search-btn, .location-name, .delete-location-btn{
      height: inherit;
      font-size: 0.875em;
      border-radius: 0.5em;
    }
    #location-search {
      flex-basis: 75%;
      padding: 0.875em;
      box-sizing: border-box;
    }
    #location-search-btn {
      text-align: center;
      flex-basis: 20%;
      padding: 0.875em 0;
      border: none;
      color: #FFFFFF;
      img {
        width: 1em;
        height: 1em;
        vertical-align: middle;
      }
    }
    .location-name {
      padding: 0.875em;
      background-color: $default-secondary-color;
      font-size: 1em;
      flex-basis: 100%;
      box-sizing: border-box;
    }
    .delete-location-btn {
      width: 0px;
      flex-basis: 0;
      text-align: center;
      padding: 0.875em 0;
      background-color: #EE4035;
      color: #FFFFFF;
      img {
        width: 1em;
        vertical-align: middle;
      }
    }
    #edit-locations-btn {
      width: 100%;
      height: inherit;
      margin-top: 2em;
      padding: 0.875em;
      font-size: 0.875em;
      background-color: rgba($default-secondary-color,0.6);
      color: #FFFFFF;
      border: none;
      border-radius: 0.5em;
    }
  }
  .delete-locations {
    .location-name {
      flex-basis: 75%;
    }
    .delete-location-btn {
      display: inline-block;
      flex-basis: 20%;
    }
  }

}
