.theme-container {
  .list-module {
    li {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      padding:0;
      background-color: #FFFFFF;
    }
    .theme-name, .theme-color-one, .theme-color-two {
      height: inherit;
      border-radius: 0.5em;
    }
    .theme-name {
      background-color: rgba($default-secondary-color, 0.6);
      flex-basis: 40%;
      padding: 0.875em;
    }
    .selected {
      .theme-name {
        background-color: $default-secondary-color;
      }
    }
    .theme-color-one, .theme-color-two {
      flex-basis: 20%;
      padding: 0.875em 0;
    }
    #theme-default {
      .theme-color-one {background-color: #03D2AB;}
      .theme-color-two {background-color: #F81268;}
    }
    #theme-day {
      .theme-color-one {background-color: #4CB2D4;}
      .theme-color-two {background-color: #88C542;}
    }
    #theme-night {
      .theme-color-one {background-color: #121258;}
      .theme-color-two {background-color: #77A9D7;}
    }
    #theme-mono {
      .theme-color-one {background-color: #363636;}
      .theme-color-two {background-color: #7D7D7D;}
    }
    #theme-ocean {
      .theme-color-one {background-color: #FD9A28;}
      .theme-color-two {background-color: #268AFF;}
    }

    #theme-divide {
      .theme-color-one {background-color: #86C036;}
      .theme-color-two {background-color: #FC402C;}
    }

    #theme-element {
      .theme-color-one {background-color: #FF7251;}
      .theme-color-two {background-color: #44AFFF;}
    }

    #theme-torchlight {
      .theme-color-one {background-color: #FBC52C;}
      .theme-color-two {background-color: #192466;}
    }

    #theme-azure {
      .theme-color-one {background-color: #41A7FF;}
      .theme-color-two {background-color: #207720;}
    }

    #theme-lavender {
      .theme-color-one {background-color: #394694;}
      .theme-color-two {background-color: #9F8BE5;}
    }

    #theme-pink {
      .theme-color-one {background-color: #EE5C96;}
      .theme-color-two {background-color: #F58DB6;}
    }

    #theme-warmth {
      .theme-color-one {background-color: #FFC039;}
      .theme-color-two {background-color: #FF5F07;}
    }

    #theme-obscure {
      .theme-color-one {background-color: #03D1AB;}
      .theme-color-two {background-color: #4E1C81;}
    }

    #theme-morninglawn {
      .theme-color-one {background-color: #FFC410;}
      .theme-color-two {background-color: #15DAB6;}
    }
  }
}
