.home-container {
  display: flex;
  align-items: center;
  .content {
    width: 100%;
    .location-info {
      margin: 1.5em 0;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;

      #location {
        padding: .25em 0;
        font-weight: 600;
        font-size: 2em;
      }

      #description {
        font-weight: 200;
      }
    }
  }
}
