.locations-container {
  .list-module {
    .search {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: 100%;
      padding:0;
      background-color: #FFFFFF;
    }
    #location-search, #location-search-btn {
      height: inherit;
      font-size: 0.875em;
      border-radius: 0.5em;
    }
    #location-search {
      flex-basis: 75%;
      padding: 0.875em;
    }
    #location-search-btn {
      text-align: center;
      flex-basis: 20%;
      padding: 0.875em 0;
      border: none;
      color: #FFFFFF;
    }
    #edit-locations-btn {
      width: 100%;
      height: inherit;
      margin-top: 2em;
      padding: 0.875em;
      font-size: 0.875em;
      color: #FFFFFF;
      border: none;
      border-radius: 0.5em;
    }
    .delete-location-btn {
      height: inherit;
      display: none;
      float: right;
    }
  }
  .delete-locations .delete-location-btn {
    display: inline-block;
  }
}
