.login-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #F81268;
  text-align: center;
  z-index: 9999;

  .login-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;

    .login-inputs {
      display: none;
    }

    .list-module {
      width: 100%;
      margin-top: 4em;
      .btn {
        background-color: #FFFFFF;
        color: #F81268;
        font-family: $heading-font;
      }
      input {
        width: 100%;
        margin: .5em 0;
        padding: 0.5em;
        box-sizing: border-box;
        border: none;
        border-radius: 0.5em;
        font-family: $heading-font;
        font-size: 1em;
      }
    }

    .login-inputs {
      .btn {
        display: inline-block;
        // margin: 0 auto;
        width: 45%;
      }
    }
  }
}

.login-function, .signup-function {
  .login-content {
    .login-buttons {display: none;}
    .login-inputs {display: block;}
  }
}

.login-function {
  #btnSignup {display: none;}
}

.signup-function {
  #btnLogin {display: none;}
}

.logged-in .login-container {
  display: none;
}
