.home-container {
  display: flex;
  align-items: center;
  .content {
    width: 100%;
    .location-info {
      padding: 1em;
      margin-bottom: 1.5em;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
      background-color: $default-primary-color;
      border-radius: 0.5em;
      width: 80%;
      margin: 0 auto;

      #location {
        padding-bottom: .25em;
        font-weight: 600;
        font-size: 2em;
      }

      #description {
        font-weight: 200;
      }
    }
  }
}
