.icon-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3em;
  background-color: $default-primary-color;

  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: inherit;
    li {
      width: 20%;
      text-align: center;
      padding-top: 13px; // if no text under icons
      // padding-top: 6px; // if text under icons
      .selected {
        display: none;
      }
      .non-selected {
        display: inline;
      }
      p {
        padding-top: 5px;
        font-family: $heading-font;
        font-size: 7px;
        font-weight: bold;
        text-transform: uppercase;
        color: $default-secondary-color;
      }
    }
  }
}

.screen-settings {
  #settings {
    background-color: $default-secondary-color;
    .selected {display: inline;}
    .non-selected {display: none;}
    p {color: $default-primary-color;}
  }
}

.screen-theme {
  #theme {
    background-color: $default-secondary-color;
    .selected {display: inline;}
    .non-selected {display: none;}
    p {color: $default-primary-color;}
  }
}

.screen-home {
  #home {
    background-color: $default-secondary-color;
    .selected {display: inline;}
    .non-selected {display: none;}
    p {color: $default-primary-color;}
  }
}

.screen-locations {
  #locations {
    background-color: $default-secondary-color;
    .selected {display: inline;}
    .non-selected {display: none;}
    p {color: $default-primary-color;}
  }
}

.screen-editor {
  #editor {
    background-color: $default-secondary-color;
    .selected {display: inline;}
    .non-selected {display: none;}
    p {color: $default-primary-color;}
  }
}
