.icon-bar {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3em;
  background-color: $default-primary-color;

  ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: inherit;
    li {
      width: 20%;
      text-align: center;
      p {
        padding-top: 5px;
        font-family: $heading-font;
        font-size: 7px;
        font-weight: bold;
        letter-spacing: 0.05625em;
        text-transform: uppercase;
        color: $default-secondary-color;
      }
    }
  }
}
