#temp-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: right;

  .current-temp {
    font-size: 6.25em;
  }
  .forecast-temp {
    font-size: 2.5em;
  }
}

sup {
  font-size: 60%;
  vertical-align: super;
}

.current-wind, .current-cloud, .current-precip, .current-humidity, .current-pressure {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.current-cloud, .percent {
  font-size: 0.75em;
}

.current-precip .intensity {
  letter-spacing: normal;
}

.speed, .intensity, .humidity-value {
  font-size: 1.75em;
}

.pressure {
  margin-top: 1em;
  font-size: 1.25em;
}

.humidity-value {
  display: inline;
}

.units {
  font-size: 0.4375em;
}

#direction-icon, #cloud-outline, #cloud-icon, #precip-icon, #humidity-icon, #pressure-outline, #pressure-pointer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 90%;
  height: 90%;
  margin: auto;
}

#humidity-icon, #pressure-outline, #pressure-pointer {
  width: 78%;
  height: 78%;
}
