// Fonts
$heading-font: 'Overpass', sans-serif;
$body-font: 'Didact Gothic', sans-serif;

// Standards
$background-color: #FFFFFF;
$default-primary-color: #EDEDED;
$default-secondary-color: #9A9A9A;

// Themes
@mixin theme($theme-color-primary, $theme-color-secondary) {
  .screen-heading {color: $theme-color-primary;}
  .location-info {color: $theme-color-secondary;}
  .grid-item {background-color: $theme-color-secondary;}
  .grid-item-width3 {background-color: $theme-color-primary;}
}
