body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  letter-spacing: 0.05625em;
  overflow-x: hidden;
  background-color: #FFFFFF;
  color: #FFFFFF;
}

h1, h2, h3, h4, h5 {
  font-family: $heading-font;
}

p {
  font-family: $body-font;
}
